<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style type="text/css">
    </style>
</head>

<body>

    <div class="container">
        <div id="carApp" class="pt-5">

            <div class="card-header col-md-9">
                <h4>Ejercicio vehículos</h4>
            </div>
            <form id="carForm" class="car-Form">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Plate</label>
                        <input type="text" id="plate" placeholder="Plates" class="form-control">
                        <div class="invalid-feedback" id="errorPlate"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Color</label>
                        <input type="text" id="color" placeholder="Color" class="form-control">
                        <div class="invalid-feedback" id="errorColor"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Brand</label>
                        <input type="text" id="brand" placeholder="Brand" class="form-control">
                        <div class="invalid-feedback" id="errorBrand"></div>
                    </div>
                    <input type="submit" value="Create Car" class="btn btn-primary btn-block col-md-9" id="button">
                </div>
            </form>
        </div>
    </div>

    <!--Wheel Form-->

    <div class="container" style="display:none" id="wheelApp">
        <div id="wheelApp" class="row pt-5">
            <div class="card-header col">
                <h4>Ejercicio vehículos</h4>
            </div>
            <form id="wheelForm" class="wheel-Form">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label>Marca Rueda 1</label>
                        <input type="text" class="form-control" id="marcaRueda1">
                        <div class="invalid-feedback" id="errorRueda1"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Diámetro 1</label>
                        <input type="text" class=" form-control" id="diametro1">
                        <div class="invalid-feedback" id="errorDiametro1"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Marca Rueda 2</label>
                        <input type="text" class="form-control" id="marcaRueda2">
                        <div class="invalid-feedback" id="errorRueda2"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Diámetro 2</label>
                        <input type="text" class=" form-control" id="diametro2">
                        <div class="invalid-feedback" id="errorDiametro2"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Marca Rueda 3</label>
                        <input type="text" class="form-control" id="marcaRueda3">
                        <div class="invalid-feedback" id="errorRueda3"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Diámetro 3</label>
                        <input type="text
                        " class="form-control" id="diametro3">
                        <div class="invalid-feedback" id="errorDiametro3"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Marca Rueda 4</label>
                        <input type="text" class="form-control" id="marcaRueda4">
                        <div class="invalid-feedback" id="errorRueda4"></div>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Diámetro 4</label>
                        <input type="text" class=" form-control" id="diametro4">
                        <div class="invalid-feedback" id="errorDiametro4"></div>
                    </div>
                    <input type="submit" value="Add Wheels" class="btn btn-primary btn-block col-md-12" id="button">
                </div>
            </form>
            <!--Render Cars-->
            <div class="col-md-12 pt-5">
                <strong>CAR:</strong><br>
                <div class="row mb-3 pt-3">
                    <div class="form-group col-md-2">
                        <strong>Plate</strong>:<span id="carPlate"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <strong>Color</strong>:<span id="carColor"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <strong>Brand</strong>:<span id="carBrand"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--Render Wheels-->
        <div class="col-md-12 pt-5" style="display: none;" id="displayWheel">
            <strong>Wheels:</strong><br>
            <div class="row mb-4">
                <div class="form-group col-md-2">
                    <strong>Marca Rueda1</strong>:<span id="brand1"></span>
                    <strong>Diametro</strong>:<span id="rueda1"></span>
                </div>
                <div class="form-group col-md-2">
                    <strong>Marca Rueda2</strong>:<span id="brand2"></span>
                    <strong>Diametro</strong>:<span id="rueda2"></span>
                </div>
                <div class="form-group col-md-2">
                    <strong>Marca Rueda 3</strong>: <span id="brand3"></span>
                    <strong>Diametro</strong>: <span id="rueda3"></span>
                </div>
                <div class="form-group col-md-2">
                    <strong>Marca Rueda 4</strong>:<span id="brand4"></span>
                    <strong>Diametro</strong>: <span id="rueda4"></span>
                </div>
            </div>
        </div>
    </div>
    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>

</body>

</html>